# 1. List comprehensions and generator expressions
## List Comprehensions and readability

In [1]:
# Ex 2-1. Build a list of Unicode codepoints from a string
symbols = '!@#$%^'
codes = []
for symbol in symbols:
    codes.append(ord(symbol))
codes

[33, 64, 35, 36, 37, 94]

In [2]:
# Ex 2-2. Build a list of Unicode codepoints from a string, take two
symbols = '!@#$%^'
codes = [ord(symbol) for symbol in symbols]
codes

[33, 64, 35, 36, 37, 94]

## Listcomps versus map and filter

In [3]:
# Ex 2-3. The same list build by a listcomp and a map/filter compositions
symbols = '$¢£¥€¤'
beyond_ascii = [ord(s) for s in symbols if ord(s) > 127]
print(beyond_ascii)

beyond_ascii = list(filter(lambda c: c > 127, map(ord, symbols)))
print(beyond_ascii)

[162, 163, 165, 8364, 164]
[162, 163, 165, 8364, 164]

## Cartesian Product

In [4]:
# Ex 2-4 Cartesian product using a list comprehension
colors = ['black', 'white']
sizes = ['S', 'M', 'L']

tshirts = [(color, size) for color in colors for size in sizes]
print(tshirts)

for color in colors:
    for size in sizes:
        print((color, size))
        
tshirts = [(color, size) for color in colors 
           for size in sizes]
print(tshirts)

[('black', 'S'), ('black', 'M'), ('black', 'L'), ('white', 'S'), ('white', 'M'), ('white', 'L')]
('black', 'S')
('black', 'M')
('black', 'L')
('white', 'S')
('white', 'M')
('white', 'L')
[('black', 'S'), ('black', 'M'), ('black', 'L'), ('white', 'S'), ('white', 'M'), ('white', 'L')]

## Generator Expressions

In [5]:
# Ex 2-5 Initializing a tuple and an array from a generator expression
symbols = '$¢£¥€¤'
tuple(ord(symbol) for symbol in symbols)

(36, 162, 163, 165, 8364, 164)

In [6]:
import array
array.array('I', (ord(symbol) for symbol in symbols))

array('I', [36, 162, 163, 165, 8364, 164])

In [7]:
type((ord(symbol) for symbol in symbols))

generator

# 2. Tuples are not just immutable lists
## Tuple as recods

In [8]:
# Ex 2-7 Tuples used as records
lax_coordinates = (33.9425, -118.408056)
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)
traveler_ids = [('USA', 123456), ('BRA', 'CE54125'), ('ESP', 'XDA205856')]

In [9]:
for passport in sorted(traveler_ids):
    print('%s/%s' % passport)

BRA/CE54125
ESP/XDA205856
USA/123456

In [10]:
for country, _ in traveler_ids:
    print(country)

USA
BRA
ESP

Tuples work well as records because of the tuple unpacking mechanism.  
**리스트도 되는데? 왜 하필 tuple?**

In [11]:
for i, j in [[1, 2]]:
    print(i, j)

1 2

In [12]:
for i, j in [(1, 2)]:
    print(i, j)

1 2

## Tuple unpacking

parallel assignment

In [13]:
lax_coordinates = (33.123, -124.5322)
latitude, longitude = lax_coordinates
print(latitude, longitude)

33.123 -124.5322

prefixing an argument with a star when calling a function

In [14]:
divmod(20, 8)

(2, 4)

In [15]:
t = (20, 8)
divmod(*t)

(2, 4)

In [16]:
quotient, remainder = divmod(*t)
quotient, remainder

(2, 4)

enabling functions to return muliple values

In [17]:
import os
_, filename = os.path.split('/home/hs/test')
filename

'test'

## Using \* to grab excess items

In [18]:
a, b, *rest = range(5)

In [19]:
a, b, rest

(0, 1, [2, 3, 4])

In [20]:
a, b, *rest = range(3)

In [21]:
a, b, rest

(0, 1, [2])

In [22]:
a, b, *rest = range(2)

In [23]:
a, b, rest

(0, 1, [])

In [24]:
a, *body, c, d = range(5)

In [25]:
a, body, c, d

(0, [1, 2], 3, 4)

In [26]:
*head, b, c, d = range(5)

In [27]:
head, b, c, d

([0, 1], 2, 3, 4)

# 3. Nested tuple unpacking

In [28]:
# Ex 2-8 Unpacking nested tuples as access the longitude
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833))]
print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'
for name, cc, pop, (latitude, longitude) in metro_areas:
    if longitude <= 0:
        print(fmt.format(name, latitude, longitude))

                |   lat.    |   long.
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

# 4. Named tuples

In [29]:
# Ex 2-9 Defining and using a named tuple type
from collections import namedtuple

In [30]:
# A list of field names can be given as an iteralble of strings or as a single space-deliminated string
City = namedtuple('City', 'name country population coordinates')

In [31]:
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))

In [32]:
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

In [34]:
tokyo.population, tokyo.coordinates, tokyo[1]

(36.933, (35.689722, 139.691667), 'JP')

In [35]:
# Ex 2-10 Named tuple attributes and methods

In [36]:
City._fields

('name', 'country', 'population', 'coordinates')

In [41]:
LatLong = namedtuple('LatLong', 'lat long')
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889))
delhi = City._make(delhi_data)
delhi._asdict()

OrderedDict([('name', 'Delhi NCR'),
             ('country', 'IN'),
             ('population', 21.935),
             ('coordinates', LatLong(lat=28.613889, long=77.208889))])

In [43]:
for k, v in delhi._asdict().items():
    print(k + ':', v)

name: Delhi NCR
country: IN
population: 21.935
coordinates: LatLong(lat=28.613889, long=77.208889)

# 5. Tuples as immutable lists

# 6. Slicing
## Why slices and range exlude the last item
- It's easy to see the length of a slice or range when only the stop position is given
- It's easy to compute the length of a slice or range when start and stop are given
- It's easy to split a sequence in two parts at any index x, without overlapping

## Slice objects

In [44]:
s = 'bicycle'

In [45]:
s[::3]

'bye'

In [46]:
s[::-1]

'elcycib'

In [47]:
s[::-2]

'eccb'

In [59]:
# Example 2-11. Line items from a flat file invoice
invoice = """
 0.....6.................................40........52...55........
 1909  Pimoroni PiBrella                 $17.50    3 $52.50
 1489  6mm Tactile Switch x20            $4.95     2 $9.90
 1510  Panavise Jr. - PV-201             $28.00    1 $28.00
 1601  PiTFT Mini Kit 320x240            $34.95    1 $34.95
"""

In [60]:
SKU = slice(0, 6)
DESCRIPTION = slice(6, 40)
UNIT_PRICE = slice(40, 52)
QUANTITY = slice(52, 55)
ITEM_TOTAL = slice(55, None)

In [61]:
line_items = invoice.split('\n')[2:]
for item in line_items:
    print(item[UNIT_PRICE], item[DESCRIPTION])

 $17.50    3  Pimoroni PiBrella
 $4.95     2  6mm Tactile Switch x20
 $28.00    1  Panavise Jr. - PV-201
 $34.95    1  PiTFT Mini Kit 320x240

### Multidimensional slicing and ellipsis

### Assigning to slices

In [70]:
l = list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [71]:
l[2:5] = [20, 30]
l  # 지우고 집어넣은듯

[0, 1, 20, 30, 5, 6, 7, 8, 9]

In [72]:
del l[5:7]
l

[0, 1, 20, 30, 5, 8, 9]

In [73]:
l[3::2] = [11, 22]
l

[0, 1, 20, 11, 5, 22, 9]

In [74]:
l[2:5] = 100

TypeError: can only assign an iterable

In [75]:
l[2:5] = [100]
l

[0, 1, 100, 22, 9]

list를 slice할 때 조심할 것

# 7. Using + and * with sequence

In [77]:
l = [1, 2, 3]
l * 5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [78]:
5 * 'abcd'

'abcdabcdabcdabcdabcd'

## Building lists of lists

In [79]:
# Ex 2-12 A list with 3 lists of length 3 can represent a Tic-tac-toe boards
board = [['_'] * 3 for i in range(3)]
board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [80]:
board[1][2] = 'X'
board

[['_', '_', '_'], ['_', '_', 'X'], ['_', '_', '_']]

In [85]:
# Identical to Ex 2-12
board = []
for i in range(3):
    row = ['_'] * 3
    board.append(row)
board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [87]:
board[2][0] = 'X'
board

[['_', '_', '_'], ['_', '_', '_'], ['X', '_', '_']]

In [81]:
# Ex 2-13 A list with three references to the same list is uselsee
weird_board = [['_'] * 3] * 3
weird_board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [82]:
weird_board[1][2] = '0'
weird_board

[['_', '_', '0'], ['_', '_', '0'], ['_', '_', '0']]

In [84]:
# Identical to Ex 2-13
row = ['_'] * 3
board = []
for i in range(3):
    board.append(row)

## Augmented assignment with sequence

**왜 중요하다는건지 잘 모르겠음**

In [88]:
l = [1, 2, 3]
id(l)

4401410120

In [89]:
l *= 2
l, id(l)

([1, 2, 3, 1, 2, 3], 4401410120)

In [90]:
t = (1, 2, 3)
id(t)

4400968688

In [91]:
t *= 2
id(t)

4398523112

## A += assignment puzzler

In [92]:
# Ex 2-14. A riddle
t = (1, 2, [30, 40])
t[2] += [50, 60]

TypeError: 'tuple' object does not support item assignment

In [93]:
t

(1, 2, [30, 40, 50, 60])

# 8. list.sort and the sorted built-in function
- Functions or methods that change an object in-place should return None to make it clear to the caller that the object itself was changed, and no new object was created
- In contrast, the built-in function sorted creates a new list and returns it

In [95]:
fruits = ['grape', 'raspberry', 'apple', 'banana']

In [96]:
sorted(fruits)

['apple', 'banana', 'grape', 'raspberry']

In [97]:
fruits

['grape', 'raspberry', 'apple', 'banana']

In [98]:
sorted(fruits, reverse=True)

['raspberry', 'grape', 'banana', 'apple']

In [99]:
sorted(fruits, key=len)

['grape', 'apple', 'banana', 'raspberry']

In [100]:
sorted(fruits, key=len, reverse=True)

['raspberry', 'banana', 'grape', 'apple']

In [101]:
fruits

['grape', 'raspberry', 'apple', 'banana']

In [102]:
fruits.sort()
fruits

['apple', 'banana', 'grape', 'raspberry']

# 9. Managing ordered sequence with bisect
## Search with bisect

In [130]:
# Ex 2-17 bisect finds insertion points for items in a sorted sequence
import bisect
import sys

HAYSTACK = [1, 4, 5, 6, 8, 12, 15, 20, 21, 23, 23, 26, 29, 30]
NEEDLES = [0, 1, 2, 5, 8, 10, 22, 23, 29, 30, 31]

ROW_FMT = '{0:2d} @ {1:2d}    {2}{0:<2d}'

In [131]:
def demo(bisect_fn):
    for needle in reversed(NEEDLES):
        position = bisect_fn(HAYSTACK, needle)
        offset = position * '  |'
        print(ROW_FMT.format(needle, position, offset))

In [132]:
print('haystack ->', ' '.join('%2d' % n for n in HAYSTACK))
demo(bisect.bisect)

haystack ->  1  4  5  6  8 12 15 20 21 23 23 26 29 30
31 @ 14      |  |  |  |  |  |  |  |  |  |  |  |  |  |31
30 @ 14      |  |  |  |  |  |  |  |  |  |  |  |  |  |30
29 @ 13      |  |  |  |  |  |  |  |  |  |  |  |  |29
23 @ 11      |  |  |  |  |  |  |  |  |  |  |23
22 @  9      |  |  |  |  |  |  |  |  |22
10 @  5      |  |  |  |  |10
 8 @  5      |  |  |  |  |8
 5 @  3      |  |  |5
 2 @  1      |2
 1 @  1      |1
 0 @  0    0

In [133]:
# Ex 2-18 Given a test score, grade returns the corresponding letter grade.
def grade(score, breakpoints=[60, 70, 80, 90], grades='FDCBA'):
    i = bisect.bisect(breakpoints, score)
    return grades[i]

[grade(score) for score in [33, 99, 77, 70, 89, 90, 100]]

['F', 'A', 'C', 'C', 'B', 'A', 'A']

## Inserting with bisect.insort

In [134]:
import bisect
import random

SIZE = 7
random.seed(1729)

my_list = []
for i in range(SIZE):
    new_item = random.randrange(SIZE*2)
    bisect.insort(my_list, new_item)
    print('%2d ->' % new_item, my_list)

10 -> [10]
 0 -> [0, 10]
 6 -> [0, 6, 10]
 8 -> [0, 6, 8, 10]
 7 -> [0, 6, 7, 8, 10]
 2 -> [0, 2, 6, 7, 8, 10]
10 -> [0, 2, 6, 7, 8, 10, 10]

# 10. When a list is not the answer
## Arrays

In [135]:
from array import array
from random import random
floats = array('d', (random() for i in range(10**7)))
floats[-1]

0.5963321947530882

In [136]:
fp = open('floats.bin', 'wb')
floats.tofile(fp)
fp.close()

In [137]:
floats2 = array('d')
fp = open('floats.bin', 'rb')
floats2.fromfile(fp, 10**7)
fp.close()
floats2[-1]

0.5963321947530882

In [138]:
floats2 == floats

True

## Memory views

In [140]:
## Ex 2-21 Changing the value of an array item by poking one of its bytes.
numbers = array('h', [-2, -1, 0, 1, 2])
memv = memoryview(numbers)
len(memv)

5

In [145]:
memv[0]

-2

In [146]:
memv_oct = memv.cast('B')

In [147]:
memv_oct.tolist()

[254, 255, 255, 255, 0, 0, 1, 0, 2, 0]

In [149]:
memv_oct[5] = 4

In [150]:
numbers

array('h', [-2, -1, 1024, 1, 2])

## Numpy and Scipy

In [151]:
# pass

## Deques and other queues

In [162]:
from collections import deque
dq = deque(range(10), maxlen=10)
dq

deque([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [163]:
dq.rotate(3)
dq

deque([7, 8, 9, 0, 1, 2, 3, 4, 5, 6])

In [164]:
dq.rotate(-4)
dq

deque([1, 2, 3, 4, 5, 6, 7, 8, 9, 0])

In [165]:
dq.extend([11, 22, 33])
dq

deque([4, 5, 6, 7, 8, 9, 0, 11, 22, 33])

In [166]:
dq.extendleft([10, 20, 30, 40])
dq

deque([40, 30, 20, 10, 4, 5, 6, 7, 8, 9])